<p><strong>Wo Sie uns demnächst hören können:</strong></p>
<div class="table-wrapper">
    <table>
        <!--
        <thead>
            <tr>
                <th colspan="2">Wann</th>
                <th>Wo</th>
                <th>Was</th>
            <tr>
        </thead>
        -->
        <tbody>
            {% for event in site.data.konzerte %}
            <tr>
                <td>{{ event.date }}</td>
                <td>{{ event.time }}</td>
                <td>{{ event.place }}</td>
                <td>{{ event.name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
