<p><strong>Wo Sie uns demnächst hören können:</strong></p>
<div class="table-wrapper">
    <table>
        <tbody>
            <tr>
                <td>01.11.2023, 18:00 Uhr</td>
                <td>St. Walburga Werl</td>
                <td>Jan Dismas Zelenka: <i>Missa Omnium Sanctorum</i></td>
            </tr>
            <tr>
                <td>TBA</td>
                <td>TBA</td>
                <td>Maurice Duruflé: <i>Requiem</i> op. 9</td>
            </tr>
            <tr>
                <td>TBA</td>
                <td>TBA</td>
                <td>J. S. Bach: Matthäus-Passion (BWV 244)</td>
            </tr>
        </tbody>
    </table>
</div>
